*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: #090b3d;
}

#loader-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    display: none;
}
#loading{
    width: 80px;
    height: 80px;
    border-left: 5px solid #866a0c;
    border-right: 5px solid #866a0c;
    border-top: 5px solid #313030;
    border-bottom: 5px solid #313030;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    animation: loader 1s linear infinite;
    z-index: 1001;
    display:none
}
@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom:10px ;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #16183c;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
}
nav ul .X{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    display: none;
}
.menu-icon{
    width: 30px;
    height: 30px;
    display: none;
}
.mobileMenu-socials{
    display: none;
}
.mobileMenu-socials img{
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid #fff;
}
#about, #projects, #footer{
    margin: 50px 0;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 48%;
    min-width: 300px;
}
.about-right{
    min-height: 200px;
}
.profile-pic{
    float: right;
    height: 300px;
    max-width: 100%;
    border-radius: 50%;
    padding: 10px 50px;
    filter: grayscale(0);
    transition: filter 0.5s ease;
}
.profile-pic:hover{
    filter: grayscale(1);
}
.col-2 hr{
    width: 50px;
    height: 3px;
    background: #866a06;
    margin:5px;
    transition: width 0.3s ease;
}
.col-2 hr:hover{
    width: 100px;
}
.col-2 p{
    text-align: justify;
}
.col-2 h1{
    color: #090b3d;
    padding: 10px 0;
    font-size: 50px;
}
.col-2 h4{
    color: #090b3d;
}
.col-2 p{
    margin: 10px 0;
    line-height:20px;
    letter-spacing: 1px;
    font-size: 16px;
}
.title{
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    line-height: 60px;
    color: #090b3d;
}
.title::after{
    content: '';
    background: #866a0c;
    width: 80px;
    height: 3px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
    
}
.col-4{
    flex-basis: 24%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 p{
    font-size: 16px;
    color: #555;
    text-align: justify;
    padding: 8px 0;
    line-height: 20px;
}
.card-body-2 img{
    margin: 20px 25px;
    padding: 0 20px;
}
.card{ 
    padding: 0;
    min-height: 300px;
    border-radius: 5px;
    transition: transform 0.5s;
    box-shadow:0px 4px 4px rgba(0, 3, 8, 0.2);
}
.card-header{
    background: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.card-body{
    padding:8px;
}
.card-body a{
    text-decoration: none;
    color: #555;
}

.card:hover,
.card-2:hover{
    transform: translateY(-5px);
    cursor: pointer; 
}

#footer{
    background: #000;
    font-size: 14px;
    padding: 40px 0 20px;
    margin: 0;
    color: #8a8a8a;
}
#footer .card-2{
    margin-top: 15px;
    border-radius: 5px;
    transition: transform 0.5s ease-in;
    box-shadow:0px 4px 4px #8a8a8a;
}
#footer .small-container h2{
    text-align: center;
}
.copyright{
    text-align: center;
    color: #8a8a8a;
    font-size: 18px;
}
.socials{
    padding: 5px;
}
.socials ul{
    display: flex;
    padding: 3px;
}

.socials ul li {
    font-size: 25px;
    color: #8a8a8a;
    padding: 10px !important;
    list-style: none;
    cursor: pointer;
}
.socials ul li a{
    text-decoration: none;
    cursor: pointer;
    color:#8a8a8a;
}
.follow{
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
}
.follow .fa-phone,
.follow .fa-envelope,
.follow .fa-whatsapp
{
    color: #8a8a8a;
    font-weight: bold;

}
.follow i {
    margin: 0 10px !important;
}
.follow a{
    text-decoration: none!important;
    color:#8a8a8a;
}
#footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}



@media only screen and (max-width:800px){

    #loading{
    width:50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    }
    nav ul{
        position: fixed;
        top: 60px;
        left: 0;
        background: #000;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 30px;
        padding: 5px;
    
    }
    nav ul li:last-child{
        margin-bottom: 20px;
    }
    nav ul li a{
        color: #fff;
        font-size: 25px;
        font-weight:normal;
    }
    nav ul .X{
        display: block;
        cursor: pointer;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .logo img{
        width: 40%;
    }
    .mobileMenu-socials{
        display: flex;
        justify-content: space-around;   
    }
    .row{
        
        text-align: center;
    }
    #about{
        margin: 20px 0;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
        padding: 8px;
    }
    .col-2{
        margin-bottom: 15px;
    }
    .socials ul{
        justify-content: center;
    }
    #about, #projects, #footer{
        margin: 30px 0;
    }
    .col-2 hr{
        display: none;
    }
    .card{
        padding: 0;
    }
    #footer{
        margin: 0;
    }
    .card-body-2 img{
       width: 33%;
       display:inline-block;  
    }
    .col-2 h1{
        font-size: 30px;
    }
    #loader-wrapper, #loading{
        display:block;
    }
}

